.content {
    grid-area: c;
    background-color: greenyellow;
}
.dialogs{
    padding: 30px 30px 50px;
}
.dialogsTitle{
    margin-bottom: 20px;
}
.dialogsSection{
display: flex;
    justify-content:space-between;
   max-width:600px;
}
.dialogsItems{
    height: max-content;
padding: 20px 30px;
    background-color: #eeb5b5;
    border: #003600 2px solid;
}
.dialog{
    padding: 5px;
    /*color:#ec928e;*/
}
.messageSection{
    padding: 15px;
    height: max-content;
    width: max-content;
}
.message{
    background-color: #ec928e;
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
}