.appWrapper {
    display: grid;
    grid-template-areas:
"h h"
"n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    font-size: 18px;
}

.appWrapperContent {
    grid-area: c;
    background-color: greenyellow;
}

a {
    color: #000;
    text-decoration: none
}

/*a.active {*/
/*    color: #b20f09;*/
/*    font-weight: 500;*/
/*}*/
a.active {
    color: #b20f09;
}

li {
    list-style: none
}

ul {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}